<div className="home">
    <div className='PreTitre'>De moi (lpb)</div>
    <div className="container">
      <div className="content">
        <h1>Joyeux anniversaire ♡</h1>
      </div>
    </div>
  </div>