.japonais-page {
    display: flex;
    align-items: flex-start;
    padding: 2vw;
    margin: 2vw;
    margin-top: 5vw;
}


.restaurant-name{
    color: #333;
}

.restaurant-description{
    margin-bottom: 3vw;
    font-size:1.2vw;
    text-align: justify;
    width: 30vw;

}
.restaurant-details {
    width: 40%;
    padding-left: 5vw;
    margin: 2vw;
    position: relative; /* Définir la position relative */
}


.visit-button{  /* Utilisez une classe spécifique pour le lien bouton */
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 1.3vw 2vw;
    cursor: pointer;
    font-size : 1.3vw;
    position: absolute;
    bottom: -9vw; 
    text-decoration: none; /* Enlever la décoration du lien */
}

.visit-button:hover {
    background-color: #381515;
}



.image-container1,
.image-container2 {
    width: 19vw; /* Augmenter la largeur des conteneurs d'images */
    display: flex;
    justify-content: center;
}

.image-container1 {
    margin-left: 1.5vw;
    margin-right: 2vw; 
}

.image-container2 {
    margin-top: 6vw; /* Déplacer l'image 2 vers le bas */
    padding-top : 3vw;
}

.image-container1 img,
.image-container2 img {
    width: 100%;
    height: 23vw;
    object-fit: cover;
}
