@font-face {
  font-family: 'HKGrotesk';
  src: url('../public/fonts/HKGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk-Bold';
  src: url('../public/fonts/HKGrotesk-Bold.ttf') format('truetype');
  /* Ajoutez d'autres variantes de police en gras si nécessaire */
}


@font-face {
  font-family: 'HammersmithOne';
  src: url('../public/fonts/HammersmithOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin : 0px;
  font-family: 'HammersmithOne', sans-serif; /* Utilisez la police personnalisée */
}


