.home {
  display: flex; /* Utilisez flexbox pour centrer le contenu */
  flex-direction: column; /* Arrangez les éléments verticalement */
  justify-content: center; /* Centrez verticalement le contenu */
  align-items: center; /* Centrez horizontalement le contenu */
  color: white;
  letter-spacing: 7px; /* Ajoutez de l'espacement entre les lettres */
  background-image: url("../public/wallpaper2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Hauteur de la fenêtre (viewport) */
  overflow: hidden; /* Masquer le défilement */

  
}

.PreTitre {
  margin: 0px;
  padding-top: 10px;
  font-size: 20px;
}

.home h1 {
  font-size: 50px;
}

.home button {
  font-family: 'HKGrotesk-Bold', sans-serif;
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

.home button:hover {
  background-color: #fff9f0;
}

  
  .container {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 100vh; /* Pour utiliser toute la hauteur de la fenêtre */
  }
  
  .content {
    text-align: center; /* Aligner le contenu au centre */
  }
  