/* Menu.css */

.menu {
    display: flex;
    flex-direction: column; /* Pour empiler les éléments verticalement */
    padding: 2vw;
  }
  
  .sections {
    margin: 6vw;
    display: flex;
    justify-content: space-between;
  }
  
  .left-section {
    width: 20%;
    max-width: 20vw;
    margin-bottom: 10vw;
    overflow: hidden;
  }

  .right-section {
    width: 75%; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .title {
    font-family: 'HammersmithOne', sans-serif;
    font-size: 3.5vw;
  }
  
  .description {
    font-family: 'HKGrotesk', sans-serif;
    font-size: 1.5vw; 
    margin-bottom: 5vw;
    text-align: justify;
  }

  
  .cuisine-block {
    width: calc(33.33% - 20px);
  }
  
  .cuisine-block img {
    width: 100%;
    height: 30vw; 
    object-fit: cover; 
    border-radius: 8px;
    
  }
  
  
  .cuisine-block p {
    font-family: 'HammersmithOne', sans-serif;
    font-size: 20px;
    text-align: center;
  }
  
  .cuisine-block p a {
    text-decoration: underline;
    color: inherit; /* Prend la couleur du texte parent */
    transition: color 0.3s; /* Animation de transition de couleur */
  }
  
  .cuisine-block p a:hover {
    color: red; /* Change la couleur au survol de la souris */
  }
  
  .return-button {
    margin-top: auto;
    align-self: flex-start;
  }
  